/*titulos font-family: "Courgette", cursive; */ 
    
body{
    font-family: "open sans", sans-serif;
}

.navbar{
    position: relative; 
    z-index: -1;
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 72px; 
    background: #FFFFFFFF; 
    border-radius: 0px; 
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f
}

.logo {
    width: 200px;
    height: 100px;
    display: flex;
    margin: auto;
}

.logoposotion {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: center;
}

.opcionesmenu {
    position: relative;
    z-index: -1;
    margin: 10px;
    padding-left: 20px;
    width: 100%;
    height: 85px;
    justify-content: space-around;
    font-size: 16px;
    line-height: 26px;
    color: #5dca45;
    background-color: white;
    transition: 0.3s;
    list-style: none;
    display: flex;
    align-items: center;
}

.menuactive{
    position: relative;
    padding-left: 30px;
    bottom: 20px;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    padding-bottom: 10px;
    color: #5dca45;
}

.menu:hover{
    color:#5dca45;
}

.menu{
    position: relative;
    padding-left: 30px;
    bottom: 20px;
    text-decoration: none;
    color: black;
}

.slider-container {
    width: 100vw;
    height: 100vh;
	overflow: hidden;
    position: relative;
   
}

.slider {
	width: 600%;
    height: 100%;
    display: flex;
    animation: 16s slider infinite;
}

.slider img {
    width: 100%;
    height: auto;
}

@keyframes slider {
	0% { transform: translateX(0);}
    0% {transform: translateX(-20%);}
    0% {transform: translateX(-10%);}
    0% {transform: translateX(-50%);}
    0% {transform: translateX(-90%);}
    0% {transform: translateX(-100%);}
}

.slider:hover {
	animation-play-state: paused; 
}



.imagenes {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.titulo {
    font-family: "Courgette", cursive;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    font-size: 80px;
    color: #5dca45;
    margin: 400px;
}

.t1 {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: white;
    margin: 500px;
}
.botoncomprar {
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: #5dca45;
    border: none;
    top: 600px;
    border-radius: 3px;
    max-width: 325px;
    height: 45px;
    padding-left: 35px;
    padding-right: 35px;
    position: absolute;
    z-index: 1;
    left: 600px;
    font-size: 15px;
}

.learn {
    font-weight: 400;
    color: rgb(255, 255, 255);
    background:transparent;
    border: white;
    border-color: white;
    top: 600px;
    border-radius: 3px;
    max-width: 325px;
    height: 45px;
    padding-left: 35px;
    padding-right: 35px;
    position: absolute;
    left: 800px;
    z-index: 1;
   border-width: 3px;
   border-style: solid;
  transition: 0.3s;
}

.learn:hover{
 opacity: 1;
 background-color: #5dca45;
  border-color: #5dca45;
}


/* footer */

footer{
    background: #fff;
    padding-top: 65px;
    padding-bottom: 33px;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    border-bottom: 3px solid #20d356;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.copy{
    text-align: center;
    margin-top: 15px;
    color: #9e9797;
}